@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Bruno Ace SC', cursive;
    color: #ac4800;
}

.stair-effect>article:nth-child(odd) {
    margin-top: 6rem;
}