@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    /* color: #ac4800; */
}

.stair-effect>section:nth-child(even) {
    margin-top: 4rem;
}

.heading {
    position: relative;
    @apply text-xl;
    @apply p-2;
    @apply mb-2;
}

.heading::after {
    position: absolute;
    content: "";
    @apply -bottom-0;
    @apply -left-4;
    height: 1px;
    width: calc(50% + 1rem);
    @apply bg-accent;
}